.navigation-section {
  display: flex;
  list-style: none;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;

    &:focus,
    &:active,
    &:hover {
      color: #33d1fd;
      font-weight: 600;
    }
  }
}

.landing-container {
  display: flex;
  justify-content: center;
  color: #46b2d3;
  margin: 35px;
  font-size: 35px;
}
