.test-app {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 24px;

  .header {
    color: red;
  }

  .click-btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-left: 20px;
  }

  .name {
    margin-left: 50px;
    font-size: 30px;
    font-size: 30px;
  }

  .number {
    margin-left: 167px;
    margin-top: 35px;
    font-size: 32px;
  }

  .input {
    font-size: 26px;
  }

  .text {
    margin-left: 25px;
    font-size: 26px;
  }

  .click-me-btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }

  .text {
    margin-left: 50px;
    font-size: 30px;
    font-size: 30px;
  }
}
